<%= form_for @reply do |f| %>
  <%= render 'shared/form_errors', object: @reply %>
  <%= f.hidden_field :post_id %>

  <div class='form-group'>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <%= f.submit 'Submit', class: 'btn' %>
<% end %>