<div class='row'>
  <%= form_for comment do |f| %>
    <%= render 'shared/form_errors', object: comment %>  
    <%= f.hidden_field :commentable_id %>
    <%= f.hidden_field :commentable_type %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :comment %>
    <%= f.text_area :comment, class: 'application-text-form' %>
    <div class='row'>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>