  <div class='row-fluid'>
  <div class='span8'>
    <%= form_for @concept_description, remote: true do |f| %>

      <%= f.text_area :description, value: @old_description, class: 'concept-description', autofocus: true %>

      <%= f.hidden_field :concept_id, value: @concept_id %>
      <%= f.hidden_field :user_uuid, value: current_user.uuid %>

      <div class='container button-container span10'>
        <%= f.submit 'Save' %>
        <button type='button' class='cancel-new-description' value='Cancel'>Cancel</button>
     </div>
    <% end %>
  </div>
</div>