<h1>Create Event</h1>

<%= form_for @event do |f| %>
  <%= render 'shared/form_errors', object: @event %>

  <div role='form'>
    <div class='form-group'>
      <%= f.text_field :title, placeholder: 'Title' %>
    </div>

    <div class='form-group'>
      <%= f.text_area :description, placeholder: 'Description' %>
    </div>

    <div class='form-group'>
      <%= f.text_area :location, placeholder: 'Location' %>
    </div>

    <div class='form-group'>
      <%= f.date_field :date %>
    </div>

    <div class='form-group'>
      <%= f.label "Start Time" %> 
      <%= f.time_field :start_time %>
    </div>

    <div class='form-group'>
      <%= f.label "End Time" %>
      <%= f.time_field :end_time %>
    </div>

    <%= f.submit 'Confirm changes', class: 'btn' %>
  </div>
<% end %>