<h1>Events</h1>

<%= link_to "Create an event", new_event_path %>

<div class='row'>
  <div class='row'>
    <label class="checkbox">
      <%= check_box_tag 'attending' %>Show only events I am attending
    </label>
  </div>
  <div class='calendar'>
    <%= bootstrap_calendar do |date| %>
      <%= date.day %>
      <% if @events_by_date[date] %>
        <ul>
          <% @events_by_date[date].each do |event| %>
            <% if event.rsvp?(current_user) %>
              <li data-attending="true"><%= event.title %></li>
            <% else %>
              <li data-attending="false"><%= event.title %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
