<h1>Events</h1>

<%= link_to "Create an event", new_event_path %>
<div class='calendar'>
  <div class='row'>
    <h2 id="month" class='text-center'>
      <%= link_to "<", date: @date.prev_month %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", date: @date.next_month %>
    </h2>
  </div>
  <div class='row'>
    <label class="checkbox">
      <%= check_box_tag 'attending' %>Show only events I am attending
    </label>
  </div>
  <div id='event-calendar'>
    <%= render 'calendar', current_date: @date, events_by_date: @events_by_date %>
  </div>
</div>
