<h1><%= @event.title %></h1>

<div class='container'>
  <p>What</p>
  <p><%= @event.description %></p>
</div>

<div class='container'>
  <p>Where</p>
  <p><%= @event.location %></p>
</div>

<div class='container'>
  <p>When</p>
  <p><%= @event.start_time %> - <%= @event.end_time %></p>
</div>

<%= link_to "Delete event", @event, method: :delete, data: { confirm: 'Are you sure you want to delete this event?'} %>