<div class='row'>
  <div class='span7'>
    <p class='muted'>
      Request a one-time meeting with a Mentor in order to receive guidance or help with a problem. Please note that any information shared here will be visible to all Code Scouts.
    </p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= form_for meeting_request do |f| %>
      <%= render 'shared/form_errors', object: @meeting_request %>

      <div class='row'>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>

      <div class='row'>
        <div class="form-group">
          <%= f.label :contact_method, "What is the best way to contact you?" %>
          <%= f.text_area :contact_info, class: "form-control meeting-contact-form" %>
        </div>
      </div>

      <div class='row'>
        <div class="form-group">
          <%= f.label :content, "What assistance do you need?" %>
          <%= f.text_area :content, class: "form-control meeting-text-form" %>
        </div>
      </div>

      <%= f.hidden_field :member_uuid %>

      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
