<% meeting_requests.each do |meeting_request| %>
  <% if meeting_request.concepts.any? %>
    <div class='row request'
      <% meeting_request.concepts.each do |concept| %>
        data-<%= escape_dots(concept.name) %>='true'
      <% end %>
    >
  <% else %>
    <div class='row request'>
  <% end %>
      <div class="row">
        <%= link_to meeting_request.title, meeting_request_path(meeting_request) %>
      </div>
      <div class="row muted">
        <div class='span3'>
          <%= meeting_request.created_at.strftime("%b %d") %>
          - <%= users[meeting_request.member_uuid].name %>
        </div>
        <div class='span9'>
          <%= render 'shared/concept_tags', object: meeting_request %>
        </div>
      </div>
    </div>
<% end %>
