<h2><%= @request.title %></h2>

<% if current_user.is_mentor? && @request.mentor_uuid.nil? %>
  <%= link_to 'Claim request', '#' %>
<% elsif current_user.uuid == @request.mentor_uuid %>
  <h5>You claimed this request!</h5>
<% elsif current_user.is_mentor? %>
  <h5>This request has already been claimed</h5>
<% elsif @request.mentor_uuid.nil? %>
  <h5>Your request has not yet been claimed by a mentor</h5>
<% else %>
  <h5>Your request has been claimed! The mentor should be in touch with you soon.</h5>
<% end %>

<p>
  <%= @request.created_at.strftime("%B %d, %Y") %>
   - <%= @creator.name %>
  <% if current_user.uuid == @creator.uuid %>
   - <%= link_to 'Edit', edit_request_path(@request) %>
   - <%= link_to 'Delete', request_path(@request), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

<p><%= @request.content %></p>

