<h2><%= @request.title %></h2>

<div id="request-status-field">
  <%= render 'request_status', request: @request, mentor: @mentor %>
</div>

<p>
  <%= @request.created_at.strftime("%B %d, %Y") %>
   - <%= @member.name %>
  <% if current_user.uuid == @member.uuid %>
   - <%= link_to 'Edit', edit_request_path(@request) %>
   - <%= link_to 'Delete', request_path(@request), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

<% if current_user.uuid == @request.member_uuid || current_user.uuid == @request.mentor_uuid %>
  <h4>Contact Info:</h4>
  <p><%= @request.contact_info %></p>
<% end %>

  <p><%= @request.content %></p>

