<h1>New Project</h1>

<div class="row">
  <div class='details'>
    <h2>Project Details</h2>
    <%= form_for @project do |f| %>

      <%= render 'shared/form_errors', object: @project %>    
    
      <%= f.label :title, 'Project Name' %>
      <%= f.text_field :title %>

      <%= f.label :start_date , 'Start Date' %>
      <%= f.date_field :start_date %>

      <%= f.label :end_date, 'End Date' %>
      <%= f.date_field :end_date %>
      <div class="row">
        <div class='span6'>
          <%= f.label :description, 'Information' %>
          <%= f.text_area :description, class: 'ckeditor' %>
        </div>
      </div>
      <div class='row'>
        <div id='mentor-display'>
          <h3>Mentors</h3>
          <div class='project-mentors'>

          </div>
          <%= link_to_add_fields('Add new mentor', f, :mentor_participations) %>
        </div>
      </div>
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
