<div class='row'>
  <h1>New Project</h1>
</div>
<div class="row">
  <div class='details offset1'>
    <h3>Project Details</h3>
    <%= form_for @project, html: { class: 'form-horizontal' } do |f| %>

      <%= render 'shared/form_errors', object: @project %>    
      <div class='control-group'>
        <%= f.label :title, 'Project Name', class: "control-label" %>
        <div class='controls'>
          <%= f.text_field :title %>
        </div>
      </div>

      <div class='control-group'>
        <%= f.label :start_date , 'Start Date', class: "control-label" %>
        <div class='controls'>
          <%= f.date_field :start_date %>
        </div>
      </div>

      <div class='control-group'>
        <%= f.label :end_date, 'End Date', class: "control-label" %>
        <div class='controls'> 
          <%= f.date_field :end_date %>
        </div>
      </div>
      <div class="row">
        <div class='span12'>
          <div class='control-group'>
            <%= f.label :description, 'Information', class: 'control-label' %>
            <div class='controls'>
              <%= f.text_area :description, class: 'wysihtml5 project-text-form' %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class='span12'>
          <div class='control-group'>
            <div class='controls'>
              <%= f.file_field :image %>
            </div>
          </div>
        </div>
      </div>

      <h3>Project Team</h3>
      <div id='team' class='row'>
        <div id='team-preview' class='span4'>
          <h4>Team Preview</h4>
        </div>

        <div class="add-team span4">
          <div id='add-mentors' class='row'>
            <h4>Mentors</h4>
            <div class='project-mentors'></div>
            <%= link_to_add_fields('Add new mentor', f, :mentor_participations) %>
          </div>
        </div>

        <div class="add-team span4">
          <div id='add-members' class='row'>
            <h4>Members</h4>
            <div class='project-members'></div>
            <%= link_to_add_fields('Add new member', f, :member_participations) %>
          </div>
        </div>
      </div>

      <div class='row'>
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
