<div id='project-info' class='row'>
  <div class='span2'></div>
  <div class='span10'>
    <h2><%= @project.title %></h2>
    <h4><%= @project.start_date %> - <%= @project.end_date %></h4>
    <%= simple_format(@project.description) %>
  </div>
</div>

<div class='row'>
  <div id='sidebar' class='span3'>
    <div id='team'>
      <div id='mentors'>
        <h4>Mentors</h4>
        <%= render 'participants', participants: @project.mentor_participations, role: 'mentor' %>
      </div>
      <div id='members'>
        <h4>Members</h4>
        <%= render 'participants', participants: @project.member_participations, role: 'member' %>
      </div>
    </div>
  </div>
</div>


