<%= form_for application do |f| %>
  <%= render 'shared/form_errors', object: application %>
  <div class='row'>
    <h4>Preferred contact*</h4>
    <p class='muted'>Email address, Phone number, something else?</p>
    <%= f.text_field :contact, class: "form-control" %>
  </div>
  <div class='row'>
    <h4>Geographically speaking, where would you like to volunteer?*</h4>
    <div class='radio'>
      <%= f.radio_button(:geography, "portland") %>
      <%= f.label(:geography_portland, "Portland, OR") %>
    </div>
    <div class='radio'>
      <%= f.radio_button(:geography, "online") %>
      <%= f.label(:geography_online, "Online") %>
    </div>
  </div>
  <div class='row'>
    <h4>What T-Shirt size would you prefer?</h4>
    <%= f.select(:shirt_size, options_for_select(shirt_sizes)) %>
  </div>
  <div class='row'>
    <h4>How did you hear about Code Scouts?*</h4>
    <% hear_about.each do |key, description| %>
      <div class='radio'>
        <%= f.radio_button(:hear_about, key) %>
        <%= f.label(('hear_about_' + key).to_sym, description) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="form-group">
      <h4>What motivates you to share your time and energy with Code Scouts?</h4>
      <%= f.text_area :motivation, class: "form-control application-text-form" %>
    </div>
  </div>
  <div class='row'>
    <h4>How much time would you like to share with Code Scouts?*</h4>
    <% time_commitment.each do |key, description| %> 
      <div class='radio'>
        <%= f.radio_button(:time_commitment, key) %>
        <%= f.label(('time_commitment_' + key).to_sym, description) %>
      </div>
    <% end %>
  </div>
  <div class='row'>
    <h4>How interested are you to help out in each of the following ways?*</h4>
    <table class="table table-striped application-table">
      <thead>
        <tr>
          <th></th>
          <th>Very interested</th>
          <th>Somewhat interested</th>
          <th>Not interested</th>
        </tr>
      </thead>
      <tbody>
        <% interest_level_questions.each do |symbol, question| %>
          <tr>
            <td><%= question %></td>
            <% interest_levels.each do |level| %>
              <td>
                <div class="radio">
                  <%= f.radio_button(symbol, level) %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
