<h1>Add A New Concept</h1>

<%= form_for @concept do |f| %>
  <% if @concept.errors.any? %>
    <div class="error_messages">
      <ul>
        <% @concept.errors.full_messages.each do |message| %>
          <div class='alert-box'><%= message %></div>
        <% end %>
      </ul>
    </div> 
  <% end %>
  <div class="form-horizontal">
    <%= f.text_field :name, placeholder: 'Name' %>
    <%= f.fields_for :concept_contents, @concept.concept_contents.new do |builder| %>
      <%= builder.text_field :content, placeholder: 'Description' %>
    <% end %>  
    <%= f.submit 'Add Concept', class: 'btn' %>
  </div>
<% end %>   