<h1><%= @concept.name %></h1>
<p id='edit-notice' class='alert hiding'>Please note you may use markdown in your description.</p>
<div class='description' id="description-links">
  <div id="latest-description"><%= markdown @concept.latest.description %></div>
  <p id="revert-link"><%= render 'revert_link', concept: @concept %></p>
  <p><%= link_to 'Edit description', new_concept_description_path(concept_id: @concept.id), remote: true, id: 'add-description-link' %></p>
</div>

<div id="add-description-form"></div>

<div id="description-history"><%= render 'description_history', concept: @concept, users: @users %></div>

