<h1><%= @concept.name %></h1>

<div class='description'>
  <p><%= @concept.latest.description %> 
    <% if @concept.concept_descriptions.count > 1 %>
     <%= link_to "Revert", concept_description_path(@concept.latest), method: :delete %></p>
    <% end %>
</div>

<div class='history'>
  <h4>Description history</h4>
  <table class='table table-striped'>
    <thead>
      <tr><th>Time Added</th><th>Description</th></tr>
    </thead>
    <tbody>
      <% @concept.history.each do |history| %>
        <tr><td><%= history.created_at.strftime("%B %d, %Y at %I:%M %p") %></td> <td><%= history.description %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>