<%= form_for post, remote: true do |f| %>
  <%= render 'shared/form_errors', object: post %>

  <div role='form'>
    <div class='form-group'>
      <%= f.text_field :title, placeholder: 'Post title' %>
    </div>

    <div class='form-group'>
      <%= f.text_area :content, placeholder: 'Content' %>
    </div>

    <%= f.hidden_field :project_id %>

    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>   