<!DOCTYPE html>
<html>
<head>
  <title>GreenMercury</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="row-fluid">
    <div class="span8"></div>
    <div class="span2">
      <% if user_signed_in? %>
        <%= link_to("Manage events", events_path) %>
      <% end %>
    </div>
    <div class="span2">
      <% if user_signed_in? %>
        <%= link_to("Log out", logout_path, method: :post) %>
      <% else %>
        <button class="btn btn-primary" id='signInButton'>Log In</button>
      <% end %>
    </div>
  </div>
</header>

<div style="display:none;" id="signIn">
  <h1>Sign Up / Sign In</h1>
  <h2>With your existing account from...</h2>
  {* loginWidget *} <br />
  <h2>With a traditional account...</h2>
  {* #userInformationForm *}
    {* traditionalSignIn_emailAddress *}
    {* traditionalSignIn_password *}
    {* traditionalSignIn_signInButton *}{* traditionalSignIn_createButton *}
  {* /userInformationForm *}
</div>

<div style="display:none;" id="returnSocial">
  <h1>Sign In</h1>
  <h2>Welcome Back, {* welcomeName *}!</h2>
  {* loginWidget *}
  <a href="#" data-cancelcapturereturnexperience="true">Use another account</a>
</div>

<div style="display:none;" id="returnTraditional">
  <h1>Sign In</h1>
  <h2>Welcome back, {* displayNameStorageData *}!</h2>
  {* #userInformationForm *}
    {* traditionalSignIn_emailAddress *}
    {* traditionalSignIn_password *}
    {* traditionalSignIn_signInButton *}
  {* /userInformationForm *}
  <a href="#" data-cancelcapturereturnexperience="true">Use another account</a>
</div>

<div style="display:none;" id="socialRegistration">
  <h1>Almost done!</h1>
  <h2>Please confirm the information below before signing in.</h2>
  {* #SocialRegistrationForm *}
    {* SocialRegistration_firstName *}
    {* SocialRegistration_lastName *}
    {* SocialRegistration_emailAddress *}
    {* SocialRegistration_displayName *}
    {* backButton *}
    {* signinButton *}
  {* /socialRegistrationForm *}
</div>

<div style="display:none;" id="registrationNewVerification">
  <h1>Thank you for registering!</h1>
  <p>We have sent a confirmation email to {* emailAddressData *}. Please check your email and click on the link to activate your account.</p>
  <a href="#" onclick="janrain.capture.ui.modal.close()">close</a>
</div>

<div style="display:none;" id="traditionalRegistration">
  <h1>Almost done!</h1>
  <p>Please confirm the information below before signing in. already have an account? <a href="#" data-capturescreen="signin">sign in.</a> </p>
  {* #registrationForm *}
    {* traditionalRegistration_firstName *}
    {* traditionalRegistration_lastName *}
    {* traditionalRegistration_emailAddress *}
    {* traditionalRegistration_password *}
    {* traditionalRegistration_passwordConfirm *}
    {* traditionalRegistration_displayName *}
    {* backButton *}
    {* createAccountButton *}
  {* /registrationForm *}
</div>

<div style="display:none;" id="forgotPassword">
  <h1>Create a new password</h1>
  <h2>We'll send you a link to create a new password.</h2>
  {* #forgotPasswordForm *}
    {* traditionalSignIn_emailAddress *}
    {* backButton *}
    {* forgotPassword_sendButton *}
  {* /forgotPasswordForm *}
</div>

<div style="display:none;" id="forgotPasswordSuccess">
  <h1>Create a new password</h1>
  <p>We've sent an email with instructions to create a new password. your existing password has not been changed.</p>
  <a href="#" onclick="janrain.capture.ui.modal.close()">close</a>
</div>

<div style="display:none;" id="mergeAccounts">
  {* mergeAccounts *}
</div>

<div style="display:none;" id="traditionalAuthenticateMerge">
  <h1>Sign in to complete account merge</h1>
  {* #tradAuthenticateMergeForm *}
    {* traditionalSignIn_emailAddress *}
    {* mergePassword *}
    {* backButton *}
    {* signInButton *}
  {* /tradAuthenticateMergeForm *}
</div>


<article>
  <div class="text-center">
    <%= link_to(image_tag('codescouts.png'), url_for(controller: '/index', action: 'index')) %>
  </div>
</article>
<% if notice.present? || alert.present? %>
  <article class="flash">
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </article>
<% end %>

<div class="container">
  <div class="row-fluid">
    <%= yield %>
  </div>
</div>

<script>
  if (typeof window.janrain !== 'object') window.janrain = {};
  if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};
  if (typeof window.janrain.settings.capture !== 'object') window.janrain.settings.capture = {};

  janrain.settings.appUrl = '<%= @janrain_rpx_url %>';
  janrain.settings.capture.redirectUri = '<%= @janrain_capture_url %>';
  janrain.settings.capture.appId = '<%= @janrain_app_id %>';
  janrain.settings.capture.clientId = '<%= @janrain_login_client_id %>';
  janrain.settings.capture.captureServer = '<%= @janrain_capture_url %>';
  janrain.settings.capture.flowVersion = '<%= @flow_version %>';
  janrain.settings.capture.flowName = '<%= @flow_name %>';
</script>

</body>
</html>
